<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container min-vh-100 min-vw-100 d-flex justify-content-center align-items-center">
    <div class="row align-middle h-100">
        <div class="col text-center">
            <div class="card align-middle" style="width: 80vw;">
                <div class="card-body">
                    <h1 class="h1">Congratulations! You won!</h1>
                </div>
                <button class="btn btn-outline-primary" onclick="window.location.href = '/'">GO TO MAIN SCREEN</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
