<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="containter">
  <h1>Choose an option</h1>

  <button class="ui-button">
    Start a quiz
  </button>
  <button class="ui-button">
    Flashcard
  </button>
  <button class="ui-button">
    View history
  </button>
  <button class="ui-button">
    Log out
  </button>
</div>
</body>
</html>